<div class="container">
    <mat-card-title>Cursos</mat-card-title>
    <br>
    <mat-card-subtitle><br>Cadastrar</mat-card-subtitle>
    <mat-divider></mat-divider>
    <br>
    <div class="input1">
        <mat-form-field appearance="outline">
            <mat-label>Nome do Curso</mat-label>
            <input matInput placeholder="Digite o nome do curso" id="nomeCurso" required [(ngModel)]="curso.nomeCurso"
                name="nomeCurso">
            <mat-icon matSuffix>edit</mat-icon>
        </mat-form-field>
    </div>
    <div class="botoes-container">
        <div class="btn" (click)="inserirCurso()">
            Salvar <span class="material-icons">save</span>
        </div>
        <div class="btn" (click)="cancelar()">
            Cancelar <span class="material-icons">cancel</span>
        </div>
    </div>
    
</div>